#attributes{
  background: $braonska;
  padding-bottom: 2em;
  h3{
    margin: 1em;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
    list-style: none;
    .attr{
      text-align: center;
      margin: 0 5vw 2em 5vw;
      img{
        width: 100px;
        background: $slovnaBoja;
        border-radius: 40%;
        padding: 5px;
        &:hover{
          box-shadow: 0 0 25px 1px $akcent;
        }
      }
      h4{
        margin: 0.5em;
      }
      p{
        background: rgba(255,255,255, 0.2);
        border-radius: 5px;
        padding: 1em;
        text-align: left;
      }
    }
  }
}
@media only screen and (min-width: 500px){
  #attributes{
    padding-bottom: 3em;
  }
}
@media only screen and (min-width: 725px){
  #attributes{
    padding-bottom: 5em;
  }
}

@media only screen and (min-width: 885px){
  #attributes{
    margin-top: -5em;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    h3{
      margin: 1.5em;
    }
    padding-bottom: 3.3em;
    ul{
      flex-direction: row;
      justify-content: space-around;
      .attr{
        max-width: 30vw;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 991px){
  #attributes h3{
      margin: 1em;
  }
}
