#gravity-center{
  position: relative;
  display: block;
  overflow: hidden;
  background: rgba(0,0,0,0.3);
  img{
    position: absolute;
    display: flex;
    flex: 1 1 auto;
    width: 240vw;
    left: -85vw;
    z-index: -2;
  }
  text-shadow: 1px 1px black;
  h1{
    margin-left: 0.5em;
  }
  h3{
    margin: -1em 0 0 5em ;
  }
  p{

  }
  #credits{
    position: absolute;
    bottom: 10px;
    right:  10px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px $slovnaBoja;
  }

}
