header{
  display: flex;
  justify-content:space-between;
  background: $braonska
}

header #logo{
  display: flex;
  flex: 1 1 100px;
  align-self: center;
  padding: 10px;
  div{
    display: block;
    margin-left: 1em;
    width: 3.5em;
    border-radius: 50%;
    background: $slovnaBoja;
    text-align: center;
    img{
      width: 3em;
    }
  }
  .l0{
    z-index: 1;
  }
  .logoTail{
    margin: 0;
    animation-iteration-count: infinite;
    animation-name: animLogo;
    animation-duration: 3.3s;
  }
  .l1{
    opacity: 0.8;
    margin-left: -3.5em;
    animation-delay: 0.3s;
  }
  .l2{
    opacity: 0.6;
    margin-left: -3.5em;
    animation-delay: 0.6s;

  }
  .l3{
    opacity: 0.4;
    margin-left: -3.5em;
    animation-delay: 0.9s;

  }
  .l4{
    opacity: 0.2;
    margin-left: -3.5em;
    animation-delay: 1.2s;

  }
}

@keyframes animLogo{
  0%{}
  50%{
    transform: translate(2.5em, -0.5em);
    opacity: 0;
    background: $akcent;
  }
}


// navBar

header #navBar{
  position: relative;
  flex: 1 1 100px;
  ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 70px;
    width: 100vw;
    transition: 250ms;
    transition-property: transform;
    list-style: none;
    li a{
      text-decoration: none;
      display: flex;
      justify-content: center;
      padding: 1.5em;
      color: $slovnaBoja;
      background: rgba(0,0,0,.8);
      &:hover{
        background: rgba(0,0,0,.9);
        color: $akcent;
        box-shadow: 0 0 5px 2px black;
      }
    }
  }
  .off{
    transform: translateX(-100%);
  }
}

#navToggle{
  display: block;
  position: absolute;
  padding: 1em 0.5em;
  top: 1em;
  right: 1em;
  transition: 200ms;
  transition-property: box-shadow;
  &:hover{
    box-shadow: 0 0 3px 1px $akcent;
  }
  #hamburger, #hamburger::before, #hamburger::after{
    content: '';
    background: $slovnaBoja;
    display: block;
    height: 4px;
    width: 2.5em;
    transition: 400ms;
    transition-timing-function: ease;
    transition-property: transform, opacity;
  }
  #hamburger{
    &::before{
      transform: translateY(-9px);
    }
    &::after{
      transform: translateY(6px);
    }
  }
  #hamburger.on{
    transform: rotate(35deg);
    &::before{
      transform: translateY(0);
      transform: rotate(-70deg);
    }
    &::after{
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 885px){
  header #navBar{
    ul{
      position: relative;
      flex-direction: row;
      right: 0;
      top: 0;
      width: auto;
      li a{
        background: none;
        &:hover{
          background: none;
          box-shadow: none;
        }
      }
    }
    .off{
      transform: none;
    }
  }
  header #navToggle{
    display: none;
  }
}
