#promo{
  position: relative;
  img{
    width: 120vw;
  }
  h3{
    position: absolute;
    color: $braonska;
    top: 1em;
    left: 2em;
  }
  p{
    position: absolute;
    width: 70vw;
    bottom: 1em;
    left: 2em;
    background: rgba(0,0,0,0.4);
    padding: 0.5em;
  }
}
