#promo{
  position: relative;
  margin-top: -2em;
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
  img{
    width: 125vw;
  }
  h3{
    position: absolute;
    color: $braonska;
    top: 1em;
    left: 2em;
  }
  p{
    position: absolute;
    width: 70vw;
    bottom: 1em;
    left: 2em;
    background: rgba(0,0,0,0.4);
    padding: 0.5em;
  }
}
