*{
  margin: 0;
  padding: 0;
}

#wraper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(80px, auto);
  overflow: hidden;
  header{
    grid-column: 1/6;
    grid-row: 1/2;
  }
  #gravity-center{
    grid-column: 1/6;
    grid-row: 2/9;
  }
  #attributes{
    grid-column: 1/6;
    grid-row: 9/12;
  }
  #promo{
    grid-column: 1/6;

  }
  #conclusion{

  }
  footer{

  }
}
