*{
  margin: 0;
  padding: 0;
}

#wraper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 1fr);
  header{
    grid-column: 1/6;
    grid-row: 1/2;
  }
  #gravity-center{
    grid-column: 1/6;
    grid-row: span 7;
  }
}
