// font-family: 'Pacifico', cursive;
// font-family: 'Libre Franklin', sans-serif;

body{
  font-family: 'Libre Franklin', sans-serif;
  color: $slovnaBoja;
  h1{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
  }
}
